@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@keyframes moveInLeft {
  from {
    opacity: 0;
    transform: translate(-30rem); }
  to {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem; }

body {
  color: gray; }

.home {
  grid-area: home; }

.about {
  grid-area: about; }

.projects {
  grid-area: projects; }

.contact {
  grid-area: contact; }

.footer {
  grid-area: footer;
  height: 50vh; }
