@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
}

@-webkit-keyframes moveInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate(-30rem);
            transform: translate(-30rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate(-30rem);
            transform: translate(-30rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: whitesmoke;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li a {
  text-transform: uppercase;
  display: block;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
}

nav ul li a:visited, nav ul li a:link {
  color: whitesmoke;
}

nav ul li a:hover {
  background-color: rgba(170, 160, 160, 0.425);
}

nav ul li a .fas {
  margin: 0 0.5rem;
}

nav .lang {
  margin-right: 2rem;
}

header {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(50, 50, 53, 0.8)), to(rgba(101, 100, 102, 0.8))), url("../../assets/header-background.jpg");
  background-image: linear-gradient(to bottom right, rgba(50, 50, 53, 0.8), rgba(101, 100, 102, 0.8)), url("../../assets/header-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo {
  text-transform: uppercase;
  letter-spacing: 2rem;
  background-color: rgba(41, 41, 41, 0.8);
  padding: 2rem;
  color: whitesmoke;
  font-size: 5rem;
  font-weight: bolder;
}

.about {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about h3 {
  letter-spacing: 1.2rem;
  margin: 3rem auto;
}

.about .about-me {
  width: 50%;
  margin: 0 auto;
}

.about .skills {
  width: 100%;
  background-color: #272727;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 3rem;
}

.about .skills .fab {
  font-size: 5rem;
  color: white;
}
/*# sourceMappingURL=main.css.map */