@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
}

.logo {
  font-family: "Major Mono Display", monospace;
}

@-webkit-keyframes moveInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate(-30rem);
            transform: translate(-30rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate(-30rem);
            transform: translate(-30rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: whitesmoke;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li a {
  text-transform: uppercase;
  display: block;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
}

nav ul li a:visited, nav ul li a:link {
  color: whitesmoke;
}

nav ul li a:hover {
  background-color: rgba(170, 160, 160, 0.425);
}

nav ul li a .fas {
  margin: 0 0.5rem;
}

nav .lang {
  margin-right: 2rem;
}

header {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(50, 50, 53, 0.8)), to(rgba(101, 100, 102, 0.8))), url("../../assets/header-background.jpg");
  background-image: linear-gradient(to bottom right, rgba(50, 50, 53, 0.8), rgba(101, 100, 102, 0.8)), url("../../assets/header-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  color: whitesmoke;
  font-size: 21rem;
  font-weight: bolder;
  -webkit-animation: fadeIn 0.5s ease;
          animation: fadeIn 0.5s ease;
}

header .logo span {
  text-align: center;
  padding: 2;
}

.about {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #464646;
}

.about .about-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-top: 10rem;
}

.about .about-container h3 {
  font-family: "Major Mono Display", monospace;
  letter-spacing: 1.5rem;
  margin: 5rem auto;
  font-size: 7rem;
  text-align: center;
}

.about .about-container .about-me {
  display: block;
  width: 80%;
  margin: 0 auto;
  font-size: 2.5rem;
  text-align: justify;
  line-height: 4rem;
}

.about .about-container .about-me .download-cv .download-btn {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  margin-top: 5rem;
  padding: 2.5rem;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 0.5rem;
}

.about .about-container .about-me .download-cv .download-btn:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.projects {
  height: auto;
}

.projects .projects-header {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(50, 50, 53, 0.8)), to(rgba(101, 100, 102, 0.8))), url("../../assets/projects-bg.jpg");
  background-image: linear-gradient(to bottom right, rgba(50, 50, 53, 0.8), rgba(101, 100, 102, 0.8)), url("../../assets/projects-bg.jpg");
  height: 30rem;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  color: whitesmoke;
  font-family: "Major Mono Display", monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5rem;
}

.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15rem auto;
  width: 70%;
  border-radius: 1rem;
  -webkit-box-shadow: 1rem 2rem 1rem gray;
          box-shadow: 1rem 2rem 1rem gray;
}

.projects .project img {
  width: 30rem;
}

.projects .project .curly,
.projects .project .dots {
  font-family: "Major Mono Display", monospace;
  font-size: 30rem;
  color: gray;
}

.projects .project .project-description h2 {
  padding: 3rem 0;
}

.contact {
  height: 100vh;
  width: 100%;
}

.contact .contact-header {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(50, 50, 53, 0.8)), to(rgba(101, 100, 102, 0.8))), url("../../assets/contact-bg.jpg");
  background-image: linear-gradient(to bottom right, rgba(50, 50, 53, 0.8), rgba(101, 100, 102, 0.8)), url("../../assets/contact-bg.jpg");
  height: 30rem;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: whitesmoke;
  font-family: "Major Mono Display", monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5rem;
}
/*# sourceMappingURL=main.css.map */