nav {
  display: flex;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;

  ul {
    list-style: none;
    display: flex;

    li a {
      text-transform: uppercase;
      display: block;
      padding: 0.8rem 1.5rem;
      text-decoration: none;

      &:visited,
      &:link {
        color: white;
      }

      &:hover {
        background-color: rgba(170, 160, 160, 0.425);
      }

      .fas {
        margin: 0 0.5rem;
      }
    }
  }

  div {
    background-color: salmon;
    flex: 1;
  }
}
