.nav {
  grid-area: nav;
  position: fixed;
  width: 30rem;
  ul {
    list-style: none;

    li {
      display: flex;
      width: 100%;
      text-transform: uppercase;

      a {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1rem;
        text-decoration: none;
        color: black;
      }

      .home:hover {
        background-color: #164270;
        color: white;
      }

      .home-active {
        color: #164270;
      }

      .about:hover {
        background-color: #88a516;
        color: white;
      }

      .about-active {
        color: #88a516;
      }

      .projects:hover {
        background-color: #77106b;
        color: white;
      }

      .projects-active {
        color: #77106b;
      }
      .contact:hover {
        background-color: #ac7016;
        color: white;
      }

      .contact-active {
        color: #ac7016;
      }
      .fas {
        width: 2rem;
        margin: 0 1rem;
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
  animation: moveInLeft 0.5s ease-out;
}
