nav{
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color:rgba(0,0,0,0);

    ul{
        list-style: none;
        display: flex;

       li a{
           display: block;
           padding: 1.5rem;
           text-decoration: none;

           &:visited,
           &:link{
               color: white;
           }

           &:hover{
               background-color: rgba(170, 160, 160, 0.425);
           }

           .fas{
               margin: 0 1rem;
           }
       }
    }

    div{
        align-self: center;
        justify-self: center;
    }
}
